@import '../../variable';
.filter {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    padding: 20px 40px 10px 20px;
    margin: 0 !important;
  }
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .item {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;
    height: 40px;
    width: 100%;
  }
  .item:last-child {
    margin-bottom: 3px;
  }
  .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .checkbox + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .item:hover {
    background: #f1fcff;
  }
  .checkbox + label::before {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    border: 1px solid #9abbce;
    margin-right: 10px;
    border-radius: 2px;
  }
  .checkbox:checked + label::before {
    border-color: #2196f3;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./Shape.png);
  }
}
