@import '../../variable';

.tabs {
  display: grid;
  grid-auto-flow: column;
  box-shadow: $obj-shadow;
  height: 30px;
  margin: 0 5px 0 0;
}

.tab {
  display: flex;
  border: 1px solid #dfe5ec;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.tab:first-child {
  border-radius: 3px 0 0 3px;
}

.tab:last-child {
  border-radius: 0 3px 3px 0;
}

.tab:hover {
  cursor: pointer;
  background: #2196f3;
  border-color: #2196f3;
  color: white;
}

.select {
  background: #2196f3;
  border-color: #2196f3;
  color: white;
}
